[Unit]
Description=xKOR_3RR0R Login Screen
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/bin/bash /opt/xkor_3rr0r/os/login/start-login.sh
Restart=on-failure
RestartSec=3
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Environment=HOME=/root
Environment=TERM=linux

[Install]
WantedBy=multi-user.target